.animateBackground{
    position: absolute;
    min-height: 200vmax;
    min-width: 200vmax;
    animation: swirl 200s infinite linear;
    z-index: 0;
}

.banner{
    position: relative;
}

@keyframes swirl {
    0%{ transform: rotate(0deg) translateX(0%); }
    50%{ transform: rotate(180deg) translateX(-25%); }
    100%{ transform: rotate(359deg) translateX(0%) }
}